body {
  background-color: #000000;
  color: #FFFFFF;
}

.brand-logo {
  width: 150px;
}
.brand-logo img {
  width: 100%;
}

.section {
  margin-bottom: 40px;
}

#contato iframe {
  border: 0px;
  height: 800px;
}